$LighGreen : #739900;

.infoDisplayer {
  // border: 3px solid green;

  padding: 6px;
  margin: 12px;
  display: none;
  p {
    margin: 15px;
  }
  .repositories {
    margin: 12px;
    padding: 6px;
    background-color: $LighGreen;
  }


}

.userDisplayer {
  background-color: $LighGreen;
}


#userButton {
  display: none;
}

body {
  background: #608000;
  color: #CCFFCC;
}

p {
  font-size: 14pt;
}
